@font-face {
  font-family: grad;
  src: url('grad.ttf');
}

.grad {
  font-family: grad;
  color: #702c94;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.font-grad {
  font-family: grad;
}